<h3>Grupo Produtos</h3>
<hr />

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro</label>
    <input
      type="text"
      class="form-control mr-2"
      placeholder="Buscar"
      [(ngModel)]="filtroGrupoProdutos"
    />
  </div>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr class="text-center">
      <th style="width: 30.66%">#</th>
      <th>Nome</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="grupoProdutos">
    <tr class="text-center" *ngFor="let grupoProduto of grupoProdutosFiltrados">
      <td>{{ grupoProduto.id }}</td>
      <td>{{ grupoProduto.nome }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary btn-sm mr-2"
          tooltip="Editar grupo"
        >
          <i class="fa fa-edit"></i>
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          tooltip="Excluir grupo"
          (click)="openModal(template)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!grupoProdutos">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum grupo encontrado.</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirma a operação?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      Não
    </button>
  </div>
</ng-template>
