<h3>Grupo Produtos</h3>
<hr />

<div class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroGrupoProdutos"/>
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<h3>{{filtroGrupoProdutos}}</h3>
<table class="table table-striped">
  <thead class="table-dark">
  <tr class="text-center">
    <th style="width: 30.66%">#</th>
    <th>Nome</th>
    <th >Opções</th>
  </tr>
  </thead>
  <tbody *ngIf="grupoProdutos">
  <tr *ngFor="let grupoProduto of grupoProdutos">
    <td>{{grupoProduto.id}}</td>
    <td>{{grupoProduto.nome}}</td>
    <td class="text-center">11111111</td>
  </tr>
  </tbody>
  <tfoot *ngIf="!grupoProdutos">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum grupo encontrado.</h4>
      </td>
    </tr>
  </tfoot>
</table>
