<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<form [formGroup]="form">

  <div class="p-3">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Nome</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': form.controls['nome'].invalid && form.controls['nome'].touched,
          }"
          placeholder="Insira o nome do grupo"
          formControlName="nome"
        />
        <div class="invalid-feedback">
          Nome é obrigatório e deve ter entre 3 e 50 caracteres.
        </div>
        <div class="form-check m-1">
          <input
            class="form-check-input"
            type="checkbox"
            value="true"
            id="checkBoxAtivo"
            formControlName="ativo"
          />
          <label class="form-check-label" for="checkBoxAtivo"> Ativo </label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button
        (click)="resetForm()"
        class="btn btn-outline-secondary mr-auto border"
      >
        Cancelar Alteração
      </button>
      <button (click)="salvarGrupoProduto()" class="btn btn-success" [disabled]="form.invalid">

        Salvar Evento
      </button>
    </div>
  </div>
</form>


